<%= render 'shared/navbar' %>
<div class="wrapper">
  <div class="main">
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
    <div class="column">
      <figure>
        <%= image_tag 'Test-Logo-Inkind.png' %>
      </figure>
    </div>
  </div>
</div>

