<%= render 'shared/navbar' %>
<div class="wrapper-video">
  <div class="header-channel-1">
    <h1>Creativ Construction</h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon class="svg--sm" fill="#88B7A5" points="0,0 30,101 65,21 90,101 100,75 100,101 0,101"/>
      <polygon class="svg--lg" fill="#88B7A5" points="0,0 15,101 33,21 45,101 50,75 55,101 72,20 85,101 95,50 100,80 100,101 0,101" />
    </svg>
  </div>
</div>
<div class="wrapper vert">
  <div class="video-card-wrapper">
    <div class="channel-content">
      <script src="https://apis.google.com/js/platform.js"></script>
      <div class="g-ytsubscribe" data-channelid="UCddE5znXiM2pl15WUtI1_lQ" data-layout="default" data-count="hidden"></div>
    </div>
    <div class="container overflow">
      <% @creativ.each do |video| %>
        <div class="row">
          <div class="col-md-5 col-sm-12 col-12">
            <div class="description-video">
              <p><strong><%= video.title %></strong><br><br>
              <%= video.description %></p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 col-12">
            <div class="one-video">
              <div class="display-video">
                <iframe width="560" height="315" src=<%= video.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="separator-video-1">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="svg--sm" fill="white" points="0,0 30,101 65,21 90,101 100,75 100,101 0,101"/>
    <polygon class="svg--lg" fill="white" points="0,0 15,101 33,21 45,101 50,75 55,101 72,20 85,101 95,50 100,80 100,101 0,101" />
  </svg>
</div>
<div class="white-tampon"></div>
<div class="wrapper-video">
  <div class="header-channel-2">
    <h1>Les discussion d'Adrien</h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon class="svg--sm" fill="#41737C" points="0,0 30,101 65,21 90,101 100,75 100,101 0,101"/>
      <polygon class="svg--lg" fill="#41737C" points="0,0 15,101 33,21 45,101 50,75 55,101 72,20 85,101 95,50 100,80 100,101 0,101" />
    </svg>
  </div>
</div>
<div class="wrapper bluevert">
  <div class="video-card-wrapper">
    <div class="channel-content-2">
      <script src="https://apis.google.com/js/platform.js"></script>
      <div class="g-ytsubscribe" data-channelid="UCnqpqEESZFefHIm5wzZoUQw" data-layout="default" data-count="hidden"></div>
    </div>
    <div class="container overflow">
      <% @adrien.each do |video| %>
        <div class="row">
          <div class="col-md-5 col-sm-12 col-12">
            <div class="description-video">
              <p><strong><%= video.title %></strong><br><br>
              <%= video.description %></p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 col-12">
            <div class="one-video">
              <div class="display-video">
                <iframe width="560" height="315" src=<%= video.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="separator-video-2">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="svg--sm" fill="white" points="0,0 30,101 65,21 90,101 100,75 100,101 0,101"/>
    <polygon class="svg--lg" fill="white" points="0,0 15,101 33,21 45,101 50,75 55,101 72,20 85,101 95,50 100,80 100,101 0,101" />
  </svg>
</div>
<div class="white-tampon"></div>
