<div class="navbar-perso">
  <div class="nav-bando">
    <div>
      <%= link_to "website", sites_path, class: "btn btn-navbar"%>
    </div>
    <div>
      <%= link_to "website", sites_path, class: "btn btn-navbar"%>
    </div>
    <div>
      <%= link_to "website", sites_path, class: "btn btn-navbar"%>
    </div>
    <div id="paddo"></div>
    <div>
      <%= link_to "website", sites_path, class: "btn btn-navbar"%>
    </div>
    <div>
      <%= link_to "website", sites_path, class: "btn btn-navbar"%>
    </div>
    <div>
      <%= link_to "website", sites_path, class: "btn btn-navbar"%>
    </div>
  </div>
  <div class="motherfucker" id="tada">
    <%= image_tag "Netgradientstroke.png", class: "logo", id: "logo" %>
  </div>
  <div id="cachette-left"></div>
  <div id="cachette-right"></div>
</div>
