<div class="navbar-perso">
  <div class="navbar-left">
    <div id="button-line-left" class="d-flex justify-content-around align-items-center mouvement-left">
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </div>
  </div>
  <div class="navbar-rigth">
    <div id="button-line-right" class="d-flex justify-content-around align-items-center">
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </div>
  </div>
  <div class="motherfucker">
    <%= image_tag "Netgradientstroke.png", class: "logo", id: "logo" %>
  </div>


<!--   <ul>
    <li>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </li>
    <li>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </li>
    <li>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </li>
    <li>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </li>
    <li>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </li>
    <li>
      <%= link_to "Web Sites", sites_path, class:"btn btn-perso" %>
    </li>
  </ul> -->
</div>


