<div class="navbar-perso">
  <div class="motherfucker">
    <div class="nav-bando">
    </div>
    <%= image_tag "Netgradientstroke.png", class: "logo", id: "logo" %>
  </div>
  <div class="button-line-left">
    <div class="d-flex justify-content-center align-items-center">
      <div class="p-2">
        <%= link_to "websites", sites_path, class: "btn btn-navbar" %>
      </div>
      <div class="p-2">
        <%= link_to "websites", sites_path, class: "btn btn-navbar" %>
      </div>
      <div class="p-2">
      <%= link_to "websites", sites_path, class: "btn btn-navbar" %>
      </div>
    </div>
  </div>
  <div class="button-line-right ">
    <div class="d-flex justify-content-center align-items-center">
      <div class="p-2">
        <%= link_to "websites", sites_path, class: "btn btn-navbar" %>
      </div>
      <div class="p-2">
        <%= link_to "websites", sites_path, class: "btn btn-navbar" %>
      </div>
      <div class="p-2">
        <%= link_to "websites", sites_path, class: "btn btn-navbar" %>
      </div>
    </div>
  </div>
</div>



