<div class="banner-home-page">
  <div class="rectangle-div">
    <div class="b-l"></div>
    <div class="b-r"></div>
    <div class="gradient-div d-flex justify-content-center">
      <div class="banner-logo"></div>
      <%= render 'shared/irdane' %>
    </div>
    <div class="banner-text">
      <h1>
        Welcome to my portfolio
      </h1>
    </div>
  </div>
</div>
<div class="wrapper-home">

  <section class="section-1 section-gauche">
    <div class="rectangle-cache"></div>
    <div class="equilibre d-flex align-items-center">
      <div>
        <div class="title">
          <h2>Websites</h2>
        </div>
        <p>
          "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
        </p>
        <div class="card-btn">
          <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
        </div>
      </div>
    </div>
    <div class="content">

    </div>
    <div class="imagebox">
    </div>
  </section>

  <section class="section-2 section-droit">
    <div class="imagebox">
    </div>
    <div class="rectangle-cache"></div>
    <div class="equilibre d-flex align-items-center">
      <div>
        <div class="title">
          <h2>Graphic Design</h2>
        </div>
        <p>
          "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce
        </p>
        <div class="card-btn">
          <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
        </div>
      </div>
    </div>
    <div class="content">
    </div>
  </section>

</div>
<div class="contact-work">
  <div class="content">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div class="carre"></div>
    <div class="masque"></div>
    <div class="content-message">
      <h2>Are you interested in my work?</h2>
      <div class="choice justify-content-center">
        <div class="left">
          <%= link_to "Fiveer Page", sites_path, class: "btn btn-home-card" %>
        </div>
        <div class="right">
          <%= link_to "Autre Page", sites_path, class: "btn btn-home-card" %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<div class="last-wrapper">
  <div class="hobbies">
    <div class="hobbies-left"></div>
    <div class="hobbies-right"></div>
      <div class="hobbiestitle">
        <h2>Hobbies</h2>
      </div>
    <div class="card-perso">
      <div class="gauche d-flex justify-content-center align-items-center">
        <div class="titre-perso">
          <h3>Videos</h3>
        </div>
        <%= link_to videos_path do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
      <div class="droite d-flex justify-content-center align-items-center">
        <div class="titre-perso">
          <h3>Articles</h3>
        </div>
        <%= link_to articles_path do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

