<div class="banner-home-page">
  <div class="intro">
  </div>
  <div class="wrapper-home">

    <section class="section-1 section-gauche">
      <div class="rectangle-cache"></div>
      <div class="equilibre d-flex align-items-center">
        <div>
          <div class="title">
            <h2>Web Sites</h2>
          </div>
          <p>
            "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
          </p>
          <div class="card-btn">
            <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
          </div>
        </div>
      </div>
      <div class="content">

      </div>
      <div class="imagebox">
      </div>
    </section>

    <section class="section-2 section-droit">
      <div class="imagebox">
      </div>
      <div class="rectangle-cache"></div>
      <div class="equilibre d-flex align-items-center">
        <div>
          <div class="title">
            <h2>Graphic Design</h2>
          </div>
          <p>
            "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce
          </p>
          <div class="card-btn">
            <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
          </div>
        </div>
      </div>
      <div class="content">
      </div>
    </section>

  </div>
  <div class="contact-work">
    <div class="content">
      <div class="top-left"></div>
      <div class="top-right"></div>
      <div class="bottom-left"></div>
      <div class="bottom-right"></div>
      <div class="carre"></div>
      <div class="masque"></div>
      <div class="content-message">
        <h2>Are you interest in my work?</h2>
        <div class="choice justify-content-center">
          <div class="left">
            <p> Let's check my freelance page</p>
            <%= link_to "Check it", sites_path, class: "btn btn-home-card" %>
          </div>
          <div class="right">
            <p> Or contact my by e-mail</p>
            <%= link_to "Email", sites_path, class: "btn btn-home-card" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="last-wrapper">

  <div class="hobbies">
    <div class="hobbies-left"></div>
    <div class="hobbies-right"></div>
      <div class="hobbiestitle">
        <h2>Hobbies</h2>
      </div>
    <div class="card-perso">
      <div class="gauche d-flex justify-content-center align-items-center">
        <div class="titre-perso">
          <h3>Videos</h3>
        </div>
        <%= link_to videos_path do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
      <div class="droite d-flex justify-content-center align-items-center">
        <div class="titre-perso">
          <h3>Articles</h3>
        </div>
        <%= link_to articles_path do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
