<header class="banner-new-hom"></header>
<%= render 'shared/new-nav' %>
<div class="title-home">
  <h1>Welcome to IRDANE's portfolio</h1>
</div>
<div class="wrapper-hom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 cole-padding">
        <%= link_to sites_path do %>
          <div class="home-card-border">
            <div class="home-inside-card">
              <div class="home-card-title">
                <h3>WEBSITES</h3>
              </div>
              <div class="home-card-description">
                <p>
                  Here you can find all my creations or projects that I worked on at school at Le Wagon or on my own.
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 cole-padding">
        <%= link_to creations_path do %>
          <div class="home-card-border">
            <div class="home-inside-card">
              <div class="home-card-title">
                <h3>GRAPHIC DESIGN</h3>
              </div>
              <div class="home-card-description">
                <p>
                  I started the graphic design as a hobby 2 years ago and step by step I improved my skills. Take a look!
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 cole-padding">
        <%= link_to games_path do %>
          <div class="home-card-border">
            <div class="home-inside-card">
              <div class="home-card-title">
                <h3>GAMES</h3>
              </div>
              <div class="home-card-description">
                <p>
                  I created some games to explore all the possibilities of JavaScript language. Have fun!
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 cole-padding">
        <%= link_to videos_path do %>
          <div class="home-card-border">
            <div class="home-inside-card">
              <div class="home-card-title">
                <h3>VIDEOS</h3>
              </div>
              <div class="home-card-description">
                <p>
                  For myself and my family I'm recording, editing and publishing videos. If you're curious and not too scared, check it out!
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 cole-padding">
        <%= link_to articles_path do %>
          <div class="home-card-border">
            <div class="home-inside-card">
              <div class="home-card-title">
                <h3>ARTICLES</h3>
              </div>
              <div class="home-card-description">
                <p>
                  I created this section for push myself to write more. And share my ideas through another media.
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
