<%= render 'shared/new-nav' %>
<div class="wrapper-hom d-flex no-padding">
  <div class="container">
    <div class="dropdownBackground"></div>
    <div class="row justify-content-center">
      <% @sites.each do |site| %>
        <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-9">
          <%= link_to site.url do %>
            <div class="card-website-edge">
              <div class="card-website" style="background-image: url('<%= cl_image_path site.photo, height: 600, width: 1200, crop: :fill %>');background-size: cover; background-position: center;">
              </div>
              <div class="card-site-content">
                <h2><%= site.title %></h2>
                <p><%= site.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- <div class="big-device">
        <% @sites.each do |site| %>
          <div class="col-md-10 col-xl-10 col-lg-10">
            <div style="background-image: url('<%= cl_image_path site.photo, height: 600, width: 1200, crop: :fill %>');background-size: cover; background-position: center;" class="site-card">
              <div class="title-sites">
                <h2><%= site.title %></h2>
                <div class="description-content">
                  <p><%= site.description %></p>
                  <%= link_to "Go visite it!", site.url, target: :_blank, class: "btn btn-card" %>
                </div>
                <div class="fleche"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div> -->
      <!-- <div class="small-device">
        <div class="container">
          <div class="row justify-content-center">
            <% @sites.each do |site| %>
              <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                <div class="site-card-mini">
                  <div class="title-sites-mini">
                    <h2><%= site.title %></h2>
                  </div>
                  <div class="description-mini d-flex justify-content-center d-flex align-items-center ">
                    <div class="description-content">
                      <p><%= site.description %></p>
                      <%= link_to "Go visite it!", site.url, target: :_blank, class: "btn btn-card" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

